name: Tests

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y cmake g++

      - name: Installing GTest
        run: git clone https://github.com/google/googletest.git -b v1.17.0 && cd googletest && mkdir build && cd build && cmake .. && make && sudo make install

      - name: Configure
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build

      - name: Test
        run: ctest --test-dir build --output-on-failure